html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* height: 100%; */

  margin: 0;
  position: relative;
  background-size: cover;
  background-image: #3d9c6d;
  background-image: radial-gradient(
      at 6% 1%,
      rgb(138, 174, 221) 0,
      transparent 59%
    ),
    radial-gradient(at 33% 42%, rgb(124, 94, 207) 0, transparent 41%),
    radial-gradient(at 30% 80%, rgb(69, 140, 223) 0, transparent 57%),
    radial-gradient(at 40% 31%, hsla(134, 61%, 63%, 1) 0, transparent 41%),
    radial-gradient(at 70% 32%, rgb(74, 97, 199) 0, transparent 50%),
    radial-gradient(at 18% 23%, rgb(59, 206, 219) 0, transparent 53%),
    radial-gradient(at 27% 47%, rgb(161, 90, 202) 0, transparent 47%),
    radial-gradient(at 79% 100%, hsla(219, 95%, 73%, 1) 0, transparent 52%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-circle {
  border-radius: 50%;
}
